---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404" description="Pagina no encontrada">
  <div class="flex justify-center items-center h-screen gap-5">
    <p class="text-white font-semibold text-2xl">404</p>
    <hr class="bg-white/30 h-12 w-[1px] border-none" />
    <p class="text-white text-sm">Página no encontrada</p>
  </div>
</BaseLayout>
