---
import SectionTitle from './SectionTitle.astro';
---

<section class='mt-10'>
  <SectionTitle nameSection='Sobre mi' />
  <div>
    <p class='text-white indent-5 text-justify hyphens-auto break-words'>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore quae,
      voluptatem architecto corrupti, tempora aliquam, enim earum repellendus
      rem dolorem sit iusto odit voluptatibus quod quasi tempore minus totam
      quis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
      eos eveniet quod deleniti veniam perferendis, tempore vel ducimus maiores
      at accusantium veritatis accusamus mollitia similique aut minus amet, id
      reiciendis!
    </p>
  </div>
  <div class='mt-5 flex justify-center items-center'>
    <button
      class='bg-sky-400 px-8 py-2 rounded-md text-lg font-medium transition-all duration-200 ease-linear hover:bg-sky-500'
    >
      Ver más →
    </button>
  </div>
</section>
