---
import SectionTitle from './SectionTitle.astro';
---

<section class='mt-10'>
  <SectionTitle nameSection='Sobre mi' />
  <div>
    <p class='text-white indent-5 text-justify hyphens-auto break-words'>
      Hola, soy Antonio, desarrollador web freelancer. Mi objetivo es crear
      sitios web atractivos que impulsen el crecimiento de tu negocio. Con 2
      años de experiencia, me especializo en soluciones web personalizadas
      utilizando tecnologías modernas. Estoy aquí para convertir tus ideas en
      sitios web rápidos, seguros y efectivos. ¡Contáctame hoy y hagamos crecer
      tu presencia en línea juntos!
    </p>
  </div>
</section>
