---
import SectionTitle from './SectionTitle.astro';
---

<section class='mt-5'>
  <SectionTitle nameSection='Experiencia' />
  <div>
    <div class='text-white mb-1 flex'>
      <span class='font-bold mr-2'>2023 </span>
      Desarrollador Fullstack, desarrollando sistemas de administración de contenidos.
    </div>
    <div class='text-white mb-1 flex'>
      <span class='font-bold mr-2 text-green-500'>2024</span>
      Desarrollador Fullstack, desarrollando paginas web y sistemas de administración
      de contenidos.
    </div>
  </div>
</section>
