---
import SectionTitle from './SectionTitle.astro';
---

<section class='mt-5'>
  <SectionTitle nameSection='Experiencia' />
  <div>
    <div class='text-white mb-1 flex'>
      <span class='font-bold mr-2'>2023 </span>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    </div>
    <div class='text-white mb-1 flex'>
      <span class='font-bold mr-2'>2023 </span>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint nesciunt omnis
      nisi voluptate dolorum, at repellat veritatis perspiciatis recusandae.
    </div>
    <div class='text-white mb-1 flex'>
      <span class='font-bold mr-2'>2024 actual </span>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    </div>
  </div>
</section>
