<footer class="p-10 border-t border-t-white/10">
  <p class="text-gray-400 text-center">
    &copy; {new Date().getFullYear()}
    <a href="https://github.com/mblcdev/" target="_blank">mblcdev</a>. All
    rights reserved.
  </p>
</footer>
