---
import HamburgerButton from './HamburgerButton.astro';
import Navigation from './Navigation.astro';
---

<header
  class='bg-transparent sticky top-0 z-10 backdrop-blur-3xl py-3 px-3 md:px-0'
>
  <div
    class='max-w-[60ch] container mx-auto flex justify-between items-center flex-wrap text-white'
  >
    <div>
      <a href='/'>
        <img
          src='/icons/mblcdev-light.png'
          alt='logo-de-mblcdev'
          class='w-12 h-12'
        />
      </a>
    </div>
    <div class='block md:hidden'>
      <HamburgerButton />
    </div>
    <nav class='w-full md:flex md:items-center md:w-auto hidden nav gap-4'>
      <Navigation />
    </nav>
  </div>
</header>
<script>
  document.addEventListener('astro:page-load', () => {
    const menuToggle = document.getElementById('menu-toggle');
    const hamburgerIcon = document.getElementById('hamburger-icon');
    const closeIcon = document.getElementById('close-icon');
    const nav = document.querySelector('.nav');

    menuToggle?.addEventListener('click', () => {
      nav?.classList.toggle('hidden');
      hamburgerIcon?.classList.toggle('hidden');
      closeIcon?.classList.toggle('hidden');
    });
  });
</script>
