---
import Panda from './Panda.astro';
---

<section class='mt-20'>
  <div class='flex justify-between items-start'>
    <div class=''>
      <h1 class='text-4xl text-white font-bold text-left'>MBLCDEV</h1>
      <p class='text-white'>Desarrollador web freelance</p>
    </div>
    <div>
      <img
        src='/mblc.avif'
        class='h-28 w-28 object-cover rounded-full border-2 border-white'
        alt='mblc-foto'
      />
    </div>
  </div>
  <div class='bg-white/10 text-white py-4 my-10 rounded-lg'>
    <p class='text-center'>
      Desarrollador freelance de Perú, especializado en soluciones digitales.
    </p>
  </div>
</section>
