---
import Instagram from './icons/Instagram.astro';
import Linkedin from './icons/Linkedin.astro';
import Github from './icons/Github.astro';
import SectionTitle from './SectionTitle.astro';
---

<section class='mt-5'>
  <SectionTitle nameSection='Mis redes' />
  <div class='mt-5'>
    <div class='flex flex-col'>
      <div class='flex items-center rounded-md'>
        <a
          href='https://www.linkedin.com/in/mblcdev/'
          target='_blank'
          rel='noopener noreferrer'
          class='text-[#53EA6C] font-medium hover:bg-green-500/10 h-12 px-4 cursor-pointer flex items-center rounded-md transition-all duration-200 ease-linear'
        >
          <Linkedin />
          <span class='ml-2'>@mblcdev</span>
        </a>
      </div>

      <div class='flex items-center'>
        <a
          href='https://www.instagram.com/mblc.dev/'
          target='_blank'
          rel='noopener noreferrer'
          class='text-[#53EA6C] font-medium hover:bg-green-500/10 h-12 px-4 cursor-pointer rounded-md flex items-center transition-all duration-200 ease-linear'
        >
          <Instagram />
          <span class='ml-2'>@mblc.dev</span>
        </a>
      </div>

      <div class='flex items-center'>
        <a
          href='https://github.com/mblcdev'
          target='_blank'
          rel='noopener noreferrer'
          class='text-[#53EA6C] font-medium hover:bg-green-500/10 h-12 px-4 cursor-pointer rounded-md flex items-center transition-all duration-200 ease-linear'
        >
          <Github />
          <span class='ml-2'>@mblcdev</span>
        </a>
      </div>
    </div>
  </div>
</section>
