---
const { nameSection } = Astro.props;
---

<div class='w-full mb-3'>
  <h2
    class='text-white text-2xl border-b-[3px] border-white/20 w-full inline font-semibold'
  >
    {nameSection}
  </h2>
</div>
