---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { pageTitle } = Astro.props;
---

<html lang='es'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/mblc.avif' />
    <meta name='viewport' content='width=device-width' />
    <meta
      name='description'
      content='Desarrollador web freelancer con experiencia en el desarrollo de páginas web y sistemas de administración.'
    />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body class='bg-[#18181b]'>
    <Header />
    <main class='container mx-auto max-w-[60ch]'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
