---
import Footer from '@/components/Footer.astro';
import NavBar from '@/components/NavBar.astro';
import SEO from '@/components/SEO.astro';
import '@/assets/styles/satoshi.css';

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<html lang='es'>
  <head>
    <SEO title={title} description={description} />
  </head>
  <body class='bg-black'>
    <NavBar />
    <main class='px-3 md:px-0 relative'>
      <div
        class='absolute inset-0 -z-10 h-full w-full flex justify-center items-center'
      >
        <div
          class='absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_500px,#FFFFFF25,transparent)]'
        >
        </div>
      </div>
      <div class='container mx-auto'>
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    font-family: 'Satoshi-Regular';
  }
  html,
  body {
    scroll-behavior: smooth;
  }
</style>
